<div class="container" *ngIf="treeData.geneData">
    <mat-card class="chart card">
        <button (click)="download()" mat-icon-button style="position:absolute">
            <mat-icon>download</mat-icon>
        </button>
        <mat-card-content>
            <div id='tree-chart'></div>
        </mat-card-content>
    </mat-card>

    <div class="card tab-group">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Main">
                <app-main-widget (changeTreeChartHideLabels)="onChangeTreeChartHideLabels($event)"
                    (changeTreeChartType)="onChangeTreeChartType($event)"
                    (changeTreeChartData)="onChangeTreeChartData($event)"></app-main-widget>
            </mat-tab>
            <mat-tab label="Filters">
                <app-legend-widget class="widget" (selectOptions)="onSelectOptions($event)"
                    [resetData]="treeData.treeDataObject" [legendData]="treeData.geneData"></app-legend-widget>
            </mat-tab>
            <mat-tab label="Search">
                <app-legend-widget2 class="widget" (selectOptions)="onSelectOptions($event)"
                    [resetData]="treeData.treeDataObject" [legendData]="treeData.geneData"></app-legend-widget2>
            </mat-tab>
        </mat-tab-group>


    </div>
</div>