
.example-section {
    margin: 12px 0;
}

.checkbox-row {
    margin: 0;
}

h4 {
    margin: 0;
}

.legend-card {
    overflow: scroll;
    max-width: 250px;
    height: 500px;
}

.count {
    font-size: 10px;
    columns: #aaa;
    padding-right: 4px;
}