
.legend-card {
    overflow: auto;
}



.search {
    width: 250px;
}

.fab {
    margin-bottom: 19px;
    margin-left: 20px;
}

.count {
    font-size: 10px;
    columns: #aaa;
    padding-right: 4px;
}