:host {
    overflow-x: auto;
    min-height: 300px;
}

.legend-card {
    min-height: 100%;
}

.search {
    width: 250px;
}

.fab {
    margin-bottom: 19px;
    margin-left: 20px;
}

.count {
    font-size: 10px;
    columns: #aaa;
    padding-right: 4px;
}